@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome</h1>
    <p>>Meu site em MVC.</p>
    <span>Seu email eh: @Model.Email</span>
</div>
